<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改学生信息</title>
    <style>
        form {
            width: 300px;
            height: 200px;
            margin: 200px auto
        }
    </style>
</head>

<body>
    <form action="/student/editSuccess" method="POST">
        学生学号：<input type="number" name="id" id="id" readonly="readonly" value="<%=student[0].id%>" /><br>
        学生姓名：<input type="text" name="name" id="name" value="<%=student[0].name%>" /><br>
        学生年龄：<input type="number" name="age" id="age" value="<%=student[0].age%>" /><br>
        <input type="submit" value="确认" />
    </form>
</body>

</html>